<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ .title }} - Swagger UI</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="//unpkg.com/swagger-ui-dist@3.25.0/swagger-ui.css"
        />
        <link
            rel="icon"
            type="image/png"
            href="//unpkg.com/swagger-ui-dist@3.25.0/favicon-16x16.png"
        />
        <script src="//unpkg.com/swagger-ui-dist@3.25.0/swagger-ui-bundle.js"></script>
    </head>
    <body>
        <div id="openapi"></div>
        <script>
            window.onload = function () {
                let options = JSON.parse("{{ .openapi_options }}");
                window.ui = SwaggerUIBundle({
                    deepLinking: true,
                    layout: "BaseLayout",
                    url: "{{ .openapi_url }}",
                    dom_id: "#openapi",
                    persistAuthorization: true,
                    ...options,
                });
            };
        </script>
    </body>
</html>
